<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <!--<script src="/webjars/bootstrap/js/bootstrap.min.js"-->
            <!--th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
    <script src="/webjars/jquery/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="application/javascript">
        function addStudent() {
            window.open('/student/addPanel');
        }
    </script>
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th th:text="${heaers.id}">id</th>
            <th th:text="${heaers.name}">姓名</th>
            <th th:text="${heaers.age}">年龄</th>
            <th th:text="${heaers.date}">日期</th>
            <th th:text="${heaers.passed}">是否通过</th>
        </tr>
        <tr th:each="one : ${list}">
            <td th:text="${one.id}"></td>
            <td th:text="${one.name}"></td>
            <td th:text="${one.age}"></td>
            <td th:text="${one.date}"></td>
            <td th:text="${one.passedDesc}"></td>
        </tr>
    </table>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" onclick="addStudent()">新增</button>
        </div>
    </div>
</div>
</body>
</html>